            h1 {
                color: darkblue;
                font-size: 60px;
                float: left;
                text-align: center;
                width: 75%;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            aside {
                background: #90EE90;
                padding: 10px;
                width: 25%;
                float: right;
                position: fixed;
                left: 75%;
                margin-top: -10px;
                border-radius: 20px;
            }
            body {
                background: #E0FFFF;
            }
            nav {
                background: #90EE90;
            }
            .table-aside {
                border: 1px;
            }
            .sco-flag {
                width: 23px;
            }
            .zai-flag {
                width: 23px;
            }
            .BYD {
                margin: 20px;
                border: 1px solid seagreen;
                text-align: center;
                margin-bottom: 10px;
                margin-right: 20px;
                padding: 3px;
            }
            .menu li {
                list-style-type: none;
                margin-bottom: 5px;
                padding: 5px 10px;
                background: red;
                font-size: 10px;
                display: inline-block;
            }
            article {
                float: left;
                width: 75%;
            }
            .tables-with-borders td {
                border: 1px black solid;
                border-spacing: 0px;
            }
            .page-footer {
                float: left;
            }
            .music {
                width: 560px;
                height: 315px;
            }
            .jairzinho-goal {
                border: 1px seagreen solid;
                border-radius: 20px;
            }
            .tables-with-borders th {
                border: 2px black solid;
            }
            .tables-with-borders {
                border: 1px black;
            }
            table {
                border: 1px black solid;
            }
            .jairzinho {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            .caption {
                text-align: center;
            }
            aside .tables-with-borders {
                border: 1px navy solid;
            }