div#header {
  border: 1px solid #842210;
}
body {
  background: #58ae42;
}
body header {
  color: darkblue;
  font-size: 60px;
  text-align: center;
  width: 75%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
aside {
  background: #458934;
  border: 1px solid #ccc;
  position: fixed;
}
@media screen and (min-width: 760px) {
  aside {
    background: #458934;
    float: right;
    left: 75%;
    width: 25%;
    margin-top: -500px;
  }
  body {
    background: #326426;
    float: left;
    width: 70%;
  }
}
@media screen and (min-width: 1080px) {
  aside {
    margin-top: -400px;
  }
}
